# Auto detect text files and perform LF normalization
* text=auto
*.css linguist-vendored


backend/static/* linguist-generated
backend/target/* linguist-generated
frontend/out/* linguist-generated
frontend/src/components/ linguist-generated
