td {
	min-width: 200px;
	padding: 2px;
}
table.fireWall td {
	min-width: 140px;
	width: 100%;
	max-width: 200px;
	text-overflow: ellipsis;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #333;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #777;
}
* {
	scrollbar-width: thin;
	scrollbar-color: #555 #333;
}
.no-scroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.no-scroll::-webkit-scrollbar {
	display: none;
}
