.dropdown-contents[data-state="open"] {
	animation: fade-in 100ms ease-in;
}

.dropdown-contents[data-state="close"] {
	animation: fade-out 100ms ease-out forwards;
}

.dropdown-contents > button {
	transition-duration: 0ms;
}

@keyframes fade-in {
	0% {
		margin-top: -2px;
		transform: scale(95%);
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes fade-out {
	0% {
		opacity: 100%;
	}
	100% {
		margin-top: -2px;
		transform: scale(95%);
		opacity: 0;
		pointer-events: none;
	}
}
