<!doctype html>
<html lang="en">
	<!-- Dashboard Admin -->

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zentrox</title>
		<link rel="stylesheet" href="dashboard_admin.css" />
		<script src="dashboard_admin.js"></script>
		<link rel="shortcut icon" href="Zentrox.ico" type="image/x-icon" />
		<link
			rel="preload"
			as="image"
			href="small_loading_white.svg"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			as="image"
			href="small_loading_black.svg"
			crossorigin="anonymous"
		/>
		<link rel="preload" as="image" href="Loading.svg" crossorigin="anonymous" />
		<link
			rel="preload"
			as="font"
			href="WorkSansVar.ttf"
			type="font/ttf"
			crossorigin="anonymous"
		/>
	</head>

	<body>
		<div id="driveModal" hidden>
			<h3 id="driveName"></h3>
			<table>
				<tr>
					<td>Size</td>
					<td id="driveSize"></td>
				</tr>
				<tr>
					<td>Mountpoint</td>
					<td id="driveMountpoint"></td>
				</tr>
				<tr>
					<td>Model</td>
					<td id="driveModel"></td>
				</tr>
				<tr>
					<td>Location in file system</td>
					<td id="drivePath"></td>
				</tr>
				<tr>
					<td>Ussage</td>
					<td id="driveUssage"></td>
				</tr>
				<tr>
					<td>Mounted</td>
					<td id="driveMounted"></td>
				</tr>
			</table>
			<button
				class="call_to_action"
				onclick="document.getElementById('driveModal').hidden = true"
			>
				Close
			</button>
		</div>
		<div id="sideBar">
			<h2>Zentrox</h2>
			<span id="hostname_subtitle" title="Hostname"></span><br />
			<span id="temperature" title="System temperature"></span><br />
			<span id="small_uptime" title="Uptime hours only"></span><br />

			<button onclick="changePage('overview')">
				<img src="status.png" alt="status" />Overview</button
			><br />
			<button onclick="changePage('applications');">
				<img src="applications.png" alt="applications" />Applications</button
			><br />
			<button onclick="changePage('storage');renderFiles(currFPath)">
				<img src="storage.png" alt="storage" />Storage</button
			><br />
			<button onclick="changePage('shell')">
				<img src="shell.png" alt="shell" />Shell</button
			><br />
			<button onclick="changePage('security')"><img src="security.png" alt="lock" />Securitry</button><br />
			<button onclick="changePage('users')">
				<img src="users.png" alt="users" />Users</button
			><br />
			<button onclick="changePage('connections')">
				<img src="network.png" alt="users" />Connections</button
			><br />
			<button><img src="settings.png" alt="settings" />Settings</button><br />
			<button onclick="poweroffSystem()">
				<img src="poweroff.png" alt="poweroff" />Power Off</button
			><br />
			<button onclick="location.href='/logout'">
				<img src="logout.png" alt="logout" />Logout
			</button>
		</div>
		<div id="pages">
			<div id="overview">
				<nav>
					<h2><img src="status.png" /> Overview</h2>
				</nav>
				<div style="padding: 10px" class="dashboard_section">
					<small>Resources</small>
					<span class="information_chip">
						<span class="caption">CPU</span>
						<div class="line_bar_chart">
							<div id="cpu_bar" style="width: 200px"></div>
						</div>
					</span>
					<span class="information_chip">
						<span class="caption">Memory</span>
						<div class="line_bar_chart">
							<div id="ram_bar" style="width: 20px"></div>
						</div>
					</span>
					<span class="information_chip">
						<span class="caption">Disk</span>
						<div class="line_bar_chart">
							<div id="disk_bar" style="width: 20px"></div>
						</div>
					</span>
					<span class="information_chip">
						<span class="caption">Running tasks</span>
						<span id="process_number"></span>
					</span>
					<br />
				</div>
				<div style="padding: 10px" class="dashboard_section">
					<small>Device information</small>

					<span class="information_chip">
						<span class="caption">OS Name</span>
						<span id="operating_system_name"></span>
					</span>
					<span class="information_chip">
						<span class="caption">Power supply</span>
						<span id="power_supply"></span>
					</span>
					<span class="information_chip">
						<span class="caption">Zentrox PID</span>
						<span id="zentrox_pid"></span>
					</span>
					<span class="information_chip">
						<span class="caption">Hostname</span>
						<span id="hostname"></span>
					</span>
					<span class="information_chip">
						<span class="caption">Uptime</span>
						<span id="uptime"></span>
					</span>
				</div>
				<div style="padding: 10px" class="dashboard_section">
					<small>Servers</small>
					<span class="information_chip">
						<span class="caption">FTP Server</span>
						<input type="checkbox" id="ftp_running" /><br />
					</span>
					<span class="information_chip">
						<span class="caption">SMB Server</span>
						<input type="checkbox" id="smb_running" /><br />
					</span>
				</div>
			</div>
			<div id="applications" hidden>
				<nav>
					<h2><img src="applications.png" />Applications</h2>
				</nav>
				<input
					type="text"
					placeholder="Search all packages"
					id="packageSearch"
					onkeyup="lookForPackage()"
					hidden
				/>
				<div id="loadingApplications">
					<img src="Loading.svg" alt="Loading" />
				</div>
				<br />
				<div id="packageSearchResults" hidden></div>
				<details id="installedAppsDetails" hidden>
					<summary>Installed apps</summary>
					<div id="installedApps"></div>
				</details>
				<details id="installedPackagesDetails" hidden>
					<summary>Installed packages</summary>
					<div id="installedPackages"></div>
				</details>
			</div>
			<div id="storage" oncontextmenu="return false;" hidden>
				<div id="contextmenu" hidden>
					<button id="renameButton">Rename</button>
					<button id="deleteButton">Delete</button>
				</div>
				<nav>
					<h2><img src="storage.png" />Storage</h2>
					<button onclick="openDetails('storage_disks')">Disks</button>
					<button onclick="openDetails('storage_files')">Files</button>
					<button onclick="openDetails('storage_vault')">Vault</button>
				</nav>
				<div id="storage_disks">
					<h3>Disks</h3>
					<div id="disks"></div>
				</div>
				<div id="storage_files" hidden>
					<h3>File system</h3>
					<button onclick="goFUp()">Up</button>
					<button onclick="uploadFileSystem()">Upload</button>
					<input
						type="checkbox"
						id="showHiddenFiles"
						name="showHiddenFiles"
						onchange="renderFiles(currFPath)"
					/><label for="showHiddenFiles">Show hidden files</label>
					<div id="filesContainer"></div>
				</div>
				<div id="storage_vault" hidden>
					<h3>Vault</h3>
					<div id="vault_config">
						<small>
							Zentrox lets you set up a private file cloud.<br />
							It uses strong encryption to protect the data.<br />
						</small>
						<input
							type="password"
							placeholder="Vault encryption key"
							id="vault_key_config"
						/><br />
						<button id="submit_vault_config">Apply</button>
						<br /><br />
						<button onclick="open_vault()">Open vault</button
						><button
							onclick="backup_vault()"
							title="Backup vault"
							id="vault_backup_button"
						>
							<img src="download.png" />
						</button>
					</div>
					<div id="vault_view" hidden>
						<div id="vault_context_menu" hidden>
							<button onclick="delete_vault_file()">Delete</button>
							<button onclick="rename_vault_file()">Rename</button>
						</div>
						<button onclick="vault_file_upload(this)" id="vault_upload_button">
							<img src="upload.png" />
						</button>
						<button onclick="vault_new_folder(this)" id="vault_upload_button">
							<img src="folder_plus.png" />
						</button>
						<button onclick="vault_walk_up()">
							<img src="arrow_u.png" />
						</button>
						<button onclick="close_vault_files()">Done</button>
						<div id="vault_files"></div>
					</div>
				</div>
			</div>
			<div id="users" hidden>
				<nav>
					<h2><img src="users.png" /> Users</h2>
				</nav>
				<button onclick="addNewUser()">New user</button>
				<div id="usersTable"></div>
			</div>
			<div id="connections" hidden>
				<!--
                FTP, SMB, WebDav, SSH, Git Server Setup, Samba, NFS
            -->
				<nav>
					<h2><img src="network.png" />Connections</h2>
					<button onclick="otherConnectionsTab('ftp')" id="ftpButton">
						FTP
					</button>
					<button onclick="otherConnectionsTab('smb')" id="smbButton">
						SMB
					</button>
					<button onclick="otherConnectionsTab('webdav')" id="Button">
						WebDav
					</button>
					<button onclick="otherConnectionsTab('ssh')" id="Button">SSH</button>

					<button onclick="otherConnectionsTab('nfs')" id="Button">NFS</button>
				</nav>
				<div id="connectionTabsPages">
					<div id="ftp">
						<h3>FTP</h3>
						<h4 id="ftpError"></h4>
						<input type="checkbox" id="enableFTP" name="enableFTP" />
						<label for="enableFTP">Enable FTP</label><br />
						<br />
						<input
							type="text"
							placeholder="FTP Root Folder"
							id="ftpLocalRoot"
						/>
						<br />
						<br />
						<input
							type="text"
							placeholder="FTP User Username"
							id="ftpUserUsername"
						/><br />
						<input
							type="password"
							placeholder="FTP User Password"
							id="ftpUserPassword"
						/>
						<br /><br />
						<button
							onclick="updateFTPConnectionSettings()"
							id="ftpSettingsApply"
						>
							Apply</button
						><br />
						<small>
							<details>
								<summary>Information</summary>
								<div>
									The FTP server is powered using a library named pyftpdlib.<br />
									<a
										href="https://manpages.ubuntu.com/manpages/bionic/en/man8/ufw.8.html"
										>UFW</a
									>
									is used to manage the firewall on this device.
								</div>
							</details>
						</small>
					</div>
					<div id="smb"></div>
				</div>
			</div>
			<div id="security" hidden>
				<nav>
					<h2><img src="security.png" /> Security</h2>
				</nav>
				<div class="dashboard_section" style="padding: 10px;">
				<div class="information_chip">
					<span class="caption">Firewall</span>
				</div>
				<div class="information_chip">
					<span class="caption">Running Processes</span>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>
