<!doctype html>
<html lang="en">
	<!-- Dashboard User  -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zentrox</title>
		<link rel="stylesheet" href="dashboard.css" />
		<script src="dashboard_user.js"></script>
		<link rel="shortcut icon" href="Zentrox.ico" type="image/x-icon" />
	</head>

	<body>
		<h1 id="greeting"><!-- Good afternoon, Tom  --></h1>
		<div id="contents">
			User
			<!-- 
			!Render using <%= %>
			Tasklist
			Git "Actions"
			Calendar
			Code
			Messages
			Apps
			Notifications {Forum}
		  --></div>
	</body>
</html>
