<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zentrox</title>
		<link rel="stylesheet" href="index.css" />
		<script src="welcome.js"></script>
		<link rel="shortcut icon" href="Zentrox.ico" type="image/x-icon" />
	</head>
	<body>
		<div id="mainContent">
			<h2>Welcome to</h2>
			<h1><span class="teal">Zentrox</span></h1>
			<button onclick="requestSetupStart()" id="startButton">
				Start <img src="arrow_r.png" alt="->" />
			</button>
		</div>
	</body>
</html>
