<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zentrox</title>
		<link rel="stylesheet" href="setup.css" />
		<script src="setup.js"></script>
		<script src="modal.js"></script>
		<link rel="shortcut icon" href="Zentrox.ico" type="image/x-icon" />
	</head>

	<body>
		<div id="loader" hidden></div>
		<div class="contentPage">
			<h1>Zentrox setup is not finished yet</h1>
			<h2>Please re-run install.bash</h2>
		</div>	
	</body>
</html>
