<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zentrox</title>
		<link rel="stylesheet" href="welcome.css" />
		<link rel="shortcut icon" href="Zentrox.ico" type="image/x-icon" />
		<script>
			function submitLogin(event) {
				(username = document.getElementById("usernameInput").value),
					(password = document.getElementById("passwordInput").value);
				fetch("/login", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						username: username,
						password: password,
						userOtp: document.getElementById("otpCode").value
					}),
				}).then((res) => {
					if (!res.ok) {
						document.getElementById("note").innerHTML = "Login failed<br><br>";
					} else {
						location.href = "/dashboard";
					}
				});
			}

			function informUserAboutOtpKey() {
				document.getElementById("otpInformationScreen").hidden = false
				document.getElementById("otpInformationScreen").innerHTML = `You OTP key is<br>
					<%- otpSecret %><br>
					Copy it to your 2FA manager.<br>
					<button onclick="document.getElementById('otpInformationScreen').hidden = true">Close</button>`
			}

			function nextOtpDigit(event, element) {
				if (event.key != "Backspace") {
					document.getElementById("otpDigit"+(Number(element.id.split("otpDigit")[1])+1)).focus()
				} else {
					document.getElementById("otpDigit"+(Number(element.id.split("otpDigit")[1])-1)).focus()
					document.getElementById("otpDigit"+(Number(element.id.split("otpDigit")[1])-1)).value = ""
				}
			}

			window.onload = () => {
				if (<%=useOtp %>) {
					document.getElementById("otpEnter").hidden = false
				}

				if (<%=firstOtp %>) {
					informUserAboutOtpKey()
				}
			}
		</script>
	</head>

	<body>
		<div id="otpInformationScreen" hidden></div>
		<div id="topBar"><%=serverName %></div>
		<div class="contentPage">
			<br />
			<h1>Welcome</h1>
			<h3>Login to server</h3>
			<small style="color: red" id="note"></small>
			<label>Username</label><br />
			<input type="text" placeholder="" id="usernameInput" />
			<br />
			<label>Password</label><br />
			<input type="password" placeholder="" id="passwordInput" /><br />
			<span id="otpEnter" hidden>
				<label>OTP</label>
				<br />
				<input type="text" id="otpCode" maxlength="6" />
				<br
			/></span>
			<button onclick="submitLogin()">Login</button>
			<br />
		</div>
	</body>
</html>
