<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zentrox</title>
		<link rel="stylesheet" href="welcome.css" />
		<link rel="shortcut icon" href="Zentrox.ico" type="image/x-icon" />
		<script>
			function submitLogin(event) {
				(username = document.getElementById("usernameInput").value),
					(password = document.getElementById("passwordInput").value);
				fetch("/login", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						username: username,
						password: password,
					}),
				}).then((res) => {
					if (!res.ok) {
						document.getElementById("note").innerHTML = "Login failed<br><br>";
					} else {
						location.href = "/dashboard";
					}
				});
			}
		</script>
	</head>

	<body>
		<div id="topBar"><%=serverName %></div>
		<div class="contentPage">
			<br />
			<h1>Welcome</h1>
			<h3>Login to server</h3>
			<small style="color: red" id="note"></small>
			<label>Username</label><br />
			<input type="text" placeholder="" id="usernameInput" />
			<br />
			<label>Password</label><br />
			<input type="password" placeholder="" id="passwordInput" /><br />
			<button onclick="submitLogin()">Login</button>
			<br />
		</div>
	</body>
</html>
